Package: codec-multimedia
Version: 1.14
Architecture: all
Maintainer: Vinicius Neves <vinicius.neves@policorp.com.br>
Installed-Size: 1778
Depends: gir1.2-gtk-3.0, gir1.2-webkit2-4.1
Section: utils
Priority: optional
Homepage: https://www.policorp.com.br/
Description: Codec Multimídia
 Facilitador de instalacao de codecs.
